@media (max-width: 1440px){
  #hero .hero--title {
    right: 484px;
  }
  #hero .hero--crug__krug {
    left: 25px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 699px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 250px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 261px;
  }
  #crazy .title h2 {
    padding: 0 20px 0 0;
  }
  #crazy .crazy--block {
    margin: 0 0 0 0;
  }
}
@media (max-width: 1200px){
  *{
    padding: 0;
    margin: 0;
  }
  #header .header--btn {
    padding: 5px 241px 0 0;
  }
  #hero .hero--lun__lus {
    margin: 223px 0 0 334px;
  }
  #hero .hero--foto__ypit {
    margin: 0 0 -43px 685px;
  }
  #hero .hero--x {
    padding: 163px 0 0 1095px;
  }
  #hero .hero--title {
    position: absolute;
    top: 260px;
    right: 239px;
  }
  #ultimate .ultimate--block {
    justify-content: space-between;
  }
  #ultimate .ultimate--group__foto {
    margin: 0 60px 0 -44px;
  }
  #ultimate .ultimate--group {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40px 0 0 60px;
  }
  #creative {
    padding: 81px 0 60px;
  }
  #creative .creative--block__lamp--krug__lamps {
    left: 194px;
    top: 1941px;
  }
  #creative .creative--block__lamp--rin__ring {
    right: 570px;
    top: 1951px;
  }
  #creative .creative--block__lamp--tim__time {
    right: 200px;
  }
  #crazy .crazy--block {
    margin: 0 -4px 0 0;
  }
  #crazy .crazy--shadow__text {
    margin: 565px 34px 0;
    width: 489px;
    height: 107px;
  }
  #crazy .crazy--shadow__text input {
    margin: 0 50px 0 0;
  }
  #crazy .crazy--shadow__group {
    margin:0 0;
  }
  #crazy .crazy--shadow__group--line {
    position: absolute;
    top: 350vh;
  }
  #crazy .crazy--shadow__group--lines {
    position: absolute;
    top: 350vh;
  }
  #crazy .crazy--shadow__text h1 {
    margin: 0 0 0 10px;
  }
  #modern .modern {
    justify-content: space-between;
  }
  #team .team--foto {
    padding: 0 5px 20px;
  }
  #team .team--btn {
    padding: 30px 400px 30px 487px;
  }
  #testi .testi h1 {
    padding: 40px 0 20px;
  }
  #new .new--group__block{
    margin:0 10px;}
  #contact .contact--btn {
    padding: 50px 462px 0;
  }
  #hero .hero--title__btn button {
    margin: 0 10px;
  }
}
@media (max-width: 1024px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 576px){}
@media (max-width: 451px){}
@media (max-width: 400px){}
@media (max-width: 380px){}
@media (max-width: 320px){}